/*common shared styles  */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* common button color */
.common-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    margin-left: 20px;
    border: none;
}

/* Banner Content */
.banner {
    background-color:rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;   
}
.banner-heading {
    width: 708px;
    color: #272727;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    margin-left: 20px;
    padding: 0px 100px 0px 0px;
}
.banner-paragraph {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 20px;
    padding: 0px 150px 0px 0px ;
}
.banner-image {
    width: 450px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 20px
}

/* Featured Content */

.feat-heading {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 170px ;
}
.feat-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}
.feat-images {
    display: flex;
    justify-content: center;
    text-align: center;
}
.feat-photo1-main {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 24px;   
}
.feat-photo1 {
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;
}
.feat-photo2-main {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 24px;
}
.feat-photo2 {
    width: 370px;
    height: 370px;
    padding: 117px 47px 118px 47px;
    margin-bottom: -68px;
}
.feat-photo3-main {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.feat-photo3 {
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}
.common-caption {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* Optional Content */
.opt-sec-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: auto;
    margin-top: 195px;
    margin-bottom: 130px;
}
.opt-sec-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.opt-sec-icon1 {
    padding-right: 100px;
}
.opt-sec1-para {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-right: 100px;
    padding-left:-200px;
}
.opt-sec-icon2 {
    padding-right: 100px;
}
.opt-sec2-para {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-right: 100px;
}
.opt-sec-icon3 {
    padding-right: 0px;
}
.opt-sec3-para {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

/* Hot Deal Content */
.hot-deal-content {
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.hot-deal-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.hot-deal-paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.hot-deal-iamge {
    width: 318px;
    margin: 100px 180px 100px 250px;
}
.hot-deal-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    margin-left: 220px;
    border: none;
    align-items: center;
}

/* Instagram Section */
.ig-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 125px ;
}
.ig-pera {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
.ig-images {
    display: flex;
    justify-content: center;
}
.ig-image1 {
    margin-right: 25px;
    margin-left: 240px;
    margin-bottom: 128px;
}
.ig-image2 {
    margin-right: 25px;
    margin-bottom: 128px;
}
.ig-image3 {
    margin-right: 25px;
    margin-bottom: 128px;
}
.ig-image4 {
    margin-right: 240px;
    margin-bottom: 128px;
}

/* Latest Deals Section */

.latest-deals-section {
    background-image:url("../asset/secFiveBackgroundImage.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin-top: 128px;
    margin: auto;
}
.latest-deals-head {
    padding-top: 110px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.latest-deals-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}
.latest-deals-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.latest-deals-email {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFFFFF;
}

/* Footer Section */

.footer-section {
    width: 100%;
    height:450px ;
    background: #111010;
    text-align: center;
    margin-top: 128px;
    width: 100%;
    height: auto;
    margin-bottom: -100px;
    bottom: 0;
    left: 0;
}
.footer-head {
    color: #E55473;
    font-size: 48px;;
    font-weight: 800;
    padding-top: 128px;
}
.footer-para {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}
.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 125px;
   
}


